/* Event.css */
.events-container {
  padding-left: 10vw;
  padding-right: 10vw;
}

.upcoming-event {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}

@media (max-width: 768px) {
  .upcoming-event {
    grid-template-columns: 1fr; /* Single column for mobile */
  }
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-title {
  /* Add any styles for the event title */
}

.event-details {
  /* Add any styles for the event details container */
}

.event-buttons {
  /* Add any styles for the event buttons container */
}

/* Add any additional styles as needed */
