@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Using a slightly modified version of Josh's Custom CSS Reset.
  You can read about it here: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
