@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./routes/UpcomingEvents/images/mainBG.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*
  Using a slightly modified version of Josh's Custom CSS Reset.
  You can read about it here: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
	overflow-y: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

body {
	background-color: #1b1b1b;
	background-image: url("./assets/mainBG.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Unna', serif;
}
